body {
    background-color: beige;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#root {
    display: flex;
    justify-content: center;
}

#corona-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: larger;
}

#corona-table td, th {
    padding: 8px;
    text-align: center;
}

#corona-table tr:nth-child(odd) {
    background-color: gainsboro;
    text-align: center;
}

#corona-table th {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}
